---
import Layout from "../../layouts/Layout.astro";

import { getProducts } from "../../lib/api";

import { Icon } from "astro-icon";

export const getStaticPaths = async () => {
  const products = await getProducts();

  return products.map((product) => ({
    params: { slug: product.slug, title: product.title },
  }));

  // return [
  //   { params: { slug: "clifford" } },
  //   { params: { slug: "rover" } },
  //   { params: { slug: "spot" } },
  // ];
};

const { slug, title } = Astro.params;
---

<Layout title="Little Lolli Shop">
  <h1>Product page for {slug}</h1>
</Layout>
